.expense-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.expense-modal-content {
  background-color: #606060;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  width: 30%;
}

.expense-form {
  display: flex;
  flex-direction: column;
}

.expense-form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.expense-form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.expense-form-group input,
.expense-form-group select
{
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.expense-form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.expense-submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.expense-submit-btn:hover {
  background-color: #45a049;
}

.expense-cancel-btn {
  background-color: #f44336;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.expense-cancel-btn:hover {
  background-color: #d32f2f;
}
