.expense-list {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .expenses-list h2 {
    margin-bottom: 10px;
  }
  
  .expense-item {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(252, 248, 248, 0.1);
    justify-content: space-between; /* Pushes the edit button to the right */
    display: flex;
    width: 100%;
  }
  
  .expense-item h3 {
    margin: 0 0 5px 0;
    color: #333;
  }
  
  .expense-item p {
    margin: 5px 0;
  }
