.homepage {
  text-align: center;
  padding: 20px;
}

.homepage-header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.open-modal-btn, .summary-btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #4CAF50;
}

.open-modal-btn:hover, .summary-btn:hover {
  background-color: #45a049;
}

.expenses-list {
  margin-top: 20px;
  text-align: left;
}

.expenses-list h2 {
  margin-bottom: 10px;
}

.expense-item {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expense-item h3 {
  margin: 0 0 5px 0;
  color: #333;
}

.expense-item p {
  margin: 5px 0;
}
