.homepage {
  text-align: center;
  padding: 20px;
}

.homepage-header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.open-group-btn, .summary-btn {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #4CAF50;
}

.open-modal-btn:hover, .summary-btn:hover {
  background-color: #45a049;
}
